*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
img{
    border-radius: 5px;
}
body{
    position: relative;
    height: 100%;
    width: 100%;
    
}
table{
    width: 100%;

}
h1{
    margin: 0;
    position: relative;
    color: black;
    bottom: 84px;
    left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 2px white;
}
h2{
    margin: 0;
    position: relative;
    bottom: 75px;
    color: black;
    left: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 2px white;  
}
h3{
    margin: 0;
    position: relative;
    left: 84%;
    bottom: 150px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    -webkit-text-stroke: 2px white;
    font-size: 30px;
}
h4{
    margin: 0;
    color: black;
    -webkit-text-stroke: 2px white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    position: relative;
    bottom: 140px;
    left: 84%;
}
footer{
    position: relative;
    left: 28%;
    color:black;
    -webkit-text-stroke: 2px white;
    font-size: 80px;
}

body{
    background:url(imgs/frontbackground.jpg);
    background-position-x: center;
    width: 100%;
}
p{
    color:black;
    -webkit-text-stroke: 2px white;
     font-size: 25px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box{
    transition: 1s;
}
img{
    border-radius: 5px;
}
.box:hover{
    transform: scale(1.3);
    z-index: 2;
}
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
